
.container {
  display: flex;
  flex-direction: column;
  /*flex: 1;*/
  /*height: 100%;*/
  justify-content: space-between;
}

.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  flex: 1 1 auto;
  margin-bottom: 50px;
  height: 250px;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}


.btn-iniciar-juego {
  flex: 1 1 auto;
}

.btn-nueva-palabra {
  flex: 1 1 auto;
}

#iniciar-juego {
  width: 269px;
  height: 66px;
  left: 24px;
  top: 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  /* White */
  color: white;
  background-color: darkblue;

  /* Inside auto layout */
  margin: 0px 8px;
  border-radius: 0.5em;
}

#nueva-palabra {
  width: 232px;
  height: 50px;
  left: 24px;
  top: 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 0.5em;

  /* Dark blue/dark-blue-300 */
  color: #0A3871;
}

.btn {

}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}